<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>COURSES LIST</title>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
  <h3>COURSES LIST</h3>
  <hr>
  <form th:action="@{/students/search}">
    <div class="form-row align-items-center">
      <div class="col">
        <!--<label class="sr-only" for="inlineFormInput">Filter: </label> -->
        <input type="text" name="keyword" class="form-control mb-10" id="inlineFormInput"
               placeholder="Course Name" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success">Search</button>
        <a th:href="@{/students/list}" class="btn btn-warning"> Clear</a>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>

      <th>User Name</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="tempCourse : ${users}">

      <td th:text="${tempCourse.userName}"></td>
    </tr>
    </tbody>
  </table>
</div>
<a href="/">Go to home page</a>
</body>
</html>